# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# VSCode
.vscode/
*.code-workspace

# Jupyter Notebook
.ipynb_checkpoints/

# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Arquivos temporários
*.log
*.tmp
*.bak
*.swp

# Ambiente virtual